<hello name="{{ name }}"></hello>

<table>
  <tr *ngFor="let usuario of users">
    <td>
      <label>Country:</label>
      <ng-container *ngIf='checkIf1(countries, users[usuario.id-1].country,usuario.id-1 )'>
        <select [(ngModel)]="users[usuario.id-1].country"
          (change)="onSelect(users[usuario.id-1].country, usuario.id - 1, selectedCountry)">
          <option [ngValue]="null">--Select--</option>
          <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
        </select>
      </ng-container>

    </td>
    <td>
      <div>
        <label>State:</label>
          <select [(ngModel)]="users[usuario.id-1].state">
            <option [ngValue]="null">--Select--</option>
            <option *ngFor="let estado of states[usuario.id - 1]" [ngValue]="estado">{{estado.name}}</option>
          </select>
      </div>
    </td>
    <td>{{usuario.id - 1}}</td>
  </tr>
</table>

